<div id="editCatDlg" class="modal fade" tabindex="-1" 

role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 

        data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Category Dialog</h4>
      </div>
      <div class="modal-body">
         <form>
            <div class="form-group">
            <label for="productId">Category Id</label>
            {{data.id}}<br>
               <label for="productName">Category Name</label>
               <input type="text" class="form-control" ng-model="data.name" 
                placeholder="Category name">
              
                
            </div>
            <button class="btn btn-default" 

            ng-click="modalButtonClick('#editCatDlg')">Take Action</button>
         </form>
      </div>
    </div>
  </div>
</div>

