<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<div class="modal fade" id="loadingModal" style="overflow: hidden;">
      <div class="modal-dialog" role="document" style="overflow: hidden;">
          <div class="modal-content " style="overflow: hidden;">
          <!-- <img class="img-responsive" src="../resources/img/ajax-loader.gif" /> -->
          
          </div>
          <img class="img-responsive" src="http://linux.machine.com/content-service/resources/img/ajax-loader.gif" />
          <!-- <div class="loader" style="overflow: hidden;"></div> -->
          <!-- /.modal-content -->
      </div>
  </div>
  
  