  <!-- Modal -->
  <div class="modal fade" id="addAddressModal" role="dialog">
				<div class="modal-dialog" style="width:800px">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">ENTER A NEW SHIPPING ADDRESS</h4>
						</div>
						<div class="modal-body">
							<div class="container">

								<form name="newAddressForm" novalidate>
								<table id="address">
								<tr>
									<td>
											<label for="ex1">Name</label> <input class="form-control"
												ng-model="address.name" id="ex1" type="text"/>
									</td>
									
									<td>
										<label for="ex2">Pincode</label> <input class="form-control"
											ng-model="address.pincode" id="ex2" type="text"/>
									</td>
									</tr>
									
									<tr>
									<td colspan="2">
										<label for="ex3">Address</label> 
											<textarea class="form-control"
											ng-model="address.address" id="ex3" rows="5" cols="70"></textarea>
											</div>
									</td>
									</tr>
									<tr>
									<td>
										<label for="ex3">Landmark</label> <input class="form-control"
											ng-model="address.landmark" id="ex4" type="text"/>
									</td>
									
									<td>
										<label for="ex3">Country</label> <input class="form-control"
											ng-model="address.country" id="ex5" type="text"/>
									</td>
									</tr>
									<tr>
									<td>
										<label for="ex3">Phone</label> <input class="form-control"
											ng-model="address.phone" id="ex6" type="text"/>
									</td>

									<td>


									</td>
									</tr></table>
									<br><br>
									<input type="submit" class="btn btn-inverse"
											ng-click="addAddress(newAddressForm);"
											value='SAVE AND CONTINUE' />
								</form>

							</div>
						</div>



					</div>
				</div>
			</div>